
body, html {
  margin: 0;
  padding: 0;
  height: 625px;
  background-color:white;
  font-family: Arial, sans-serif;
  margin-top:25px;
  width:1501px;
}

.app-container {
  display: flex;
}

.content {
  margin-left: 40px; 
  padding: 1rem;
  width: calc(100% - 200px);
}
